.padding-top {
  padding-top: 60px;
}

blockquote {
  border-left: solid gray;
  font-style: italic;
  padding-left: 0.5em;
}

.small-caps {
  font-variant: small-caps;
}

a.nostyle:link {
  text-decoration: inherit;
  color: inherit;
}

a.nostyle:visited {
  text-decoration: inherit;
  color: inherit;
}